In [10]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

In [43]:
def pull_nash_marathon_data(is_full=True, city='Nashville', year='2019'):
    full_in = '' if is_full else 'Half-'
    URL = 'https://www.runrocknroll.com/Events/' + city + '/The-Races/' + full_in + 'Marathon/' + year + '-Results'
    df_list = []
    row_shape, x = (1, 1)
    while row_shape > 0:    
        payload = {'page': str(x)}
        response = requests.post(URL, params=payload)        
        table_soup = bs(response.content, "html.parser").find(attrs={"class": "race-search-main"})
        df_page = pd.read_html(str(table_soup))[0]    
        row_shape = df_page.shape[0]
        df_list.append(df_page)
        x += 1   
    print('pulled ' + year + ' ' + str(is_full))
    return pd.concat(df_list)

##test pull function
fulls, halves = [], []
for yr in range(2016, 2020):
    fulls.append(pull_nash_marathon_data(is_full=True, city='Nashville', year=str(yr)))
    halves.append(pull_nash_marathon_data(is_full=False, city='Nashville', year=str(yr)))
print(str(len(fulls)) + ' ' + str(len(halves))

pulled 2016 True
pulled 2016 False
pulled 2017 True
pulled 2017 False
pulled 2018 True
pulled 2018 False
pulled 2019 True
pulled 2019 False

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [84]:
all_lists = fulls + halves
all_races = pd.concat(all_lists, axis=0)
all_races.reset_index()
all_sorted = all_races.sort_values('Time', axis=0)
total_runner_years = all_sorted.shape[0]

In [85]:
all_sorted.drop_duplicates(subset=['Name'], keep='first', inplace=True)
runners_deduped = all_sorted.shape[0]

In [90]:
prop_duplicates = (total_runner_years - runners_deduped) / total_runner_years
print(round(prop_duplicates, 2))
## Average runner ran the race 1.27 times 1/(1 - 0.21)

0.21
4.761904761904762

In [91]:
all_sorted['First Name'] = all_sorted['Name'].apply(lambda x: x.split(' ')[0])
print(all_sorted['First Name'])

10         Kyle
0         Matty
24         Lisa
23      Russell
22         Dave
        ...
20        Molly
21         Lynn
23         Kate
24    Gabrielle
0       Valerie
Name: First Name, Length: 70709, dtype: object

In [92]:
all_sorted['Last Name'] = all_sorted['Name'].apply(lambda x: x.split(' ')[-1])
print(all_sorted['Last Name'])

10               Eason
0                Mcree
24            Tumminia
23             Roberts
22            Matthews
            ...
20              Rogers
21    Gillespie-Chater
23             Mishkin
24              Castro
0               Bailey
Name: Last Name, Length: 70709, dtype: object

In [96]:
have_hyph = all_sorted.loc[all_sorted['Last Name'].str.contains('-', regex=False)].shape[0]
pct_hyph = 100 * (have_dash / all_sorted.shape[0])
pct_hyph

0.6632819018795344

In [98]:
is_last = all_sorted.loc[all_sorted['First Name'].isin(all_sorted['Last Name'])].shape[0]
print(all_sorted.loc[all_sorted['First Name'].isin(all_sorted['Last Name'])])
pct_is_last = 100 * (is_last / all_sorted.shape[0])
pct_is_last

   Overall    Bib                   Name      Time First Name  \
10   99999   1528             Kyle Eason  00:00:00       Kyle
23   99999   6599        Russell Roberts  00:00:00    Russell
17   99999  32199         Raquel Jarrard  00:00:00     Raquel
16   99999   1649          Richard Begin  00:00:00    Richard
15   99999  37480       Allison Braswell  00:00:00    Allison
..     ...    ...                    ...       ...        ...
8     2942  26018          Shelly Morris  06:34:13     Shelly
12    2947  27121    Nicholas D'Agostino  06:37:02   Nicholas
0     2101  33717          Dallas Heyden  06:37:34     Dallas
24    2025  30026            Alex Easley  06:43:55       Alex
21    2956  27374  Lynn Gillespie-Chater  06:44:43       Lynn

           Last Name
10             Eason
23           Roberts
17           Jarrard
16             Begin
15          Braswell
..               ...
8             Morris
12        D'Agostino
0             Heyden
24            Easley
21  Gillespie-Chater

[29120 rows x 6 columns]

41.18287629580393